<div class="bg-img">
    <nav class="d-flex justify-content-center navbar navbar-light bg-light mb-2">
        <h1 style="text-align: center;">Burger Buddy</h1>
    </nav>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mt-2 p-3">
                <form id="newBurgerForm">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="name">Name of Burger:</label>
                            <input type="text" class="form-control" id="name" placeholder="Sample Burger" required>
                        </div>
                        <div class="form-group">
                            <label for="adjective">An adjective to describe the burger...</label>
                            <input type="text" class="form-control" id="adjective" placeholder="Delicious" required>
                        </div>
                        <div class="form-group">
                            <label for="bun">What kind of bun?</label>
                            <input type="text" class="form-control" id="bun" placeholder="Sesame Seed Bun" required>
                        </div>
                        <div class="form-group">
                            <label for="cheese">Cheese Choice:</label>
                            <input type="text" class="form-control" id="cheese" placeholder="Cheddar" required>
                        </div>
                        <div class="form-group">
                            <label for="condiments">What condiments?</label>
                            <input type="text" class="form-control" id="condiments" placeholder="Ketchup" required>
                        </div>
                        <div class="form-group">
                            <label for="toppings">Toppings</label>
                            <input type="text" class="form-control" id="toppings"
                                placeholder="Lettuce, Tomato, Onion, Pickles" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: left;">Submit</button>
                    <button class="btn btn-danger back" style="float: right;">Go Back</button>
                </form>
            </div>
        </div>
    </div>
</div>